[submodule "PoSoc"]
	path = PoSoc
	url = git@github.com:Be-Soc/PoSoc.git
[submodule "CloDem"]
	path = CloDem
	url = git@github.com:Be-Soc/CloDem.git
[submodule "quinn"]
	path = quinn
	url = git@github.com:Be-Soc/quinn.git
[submodule "rust-libp2p"]
	path = rust-libp2p
	url = git@github.com:Be-Soc/rust-libp2p.git
